body {
    background: #000000;
}

.navbar {
    background-color: black;
    width: 100%;
    display: inline-flex;
    margin-bottom: 10px;
}

.gamer-zone {
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 4vw;
}

.nav-links {
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 4vw;
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: inline-flex;
    text-decoration: none;
    padding-top: 2vh;
}

.container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
}

.main-image {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5%;
}

.main-text {
    color: rgb(255, 255, 255);
    font-family: 'Oxanium', cursive;
    font-size: 2.5vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: #ffff00 0 0 8px 0;
    margin-top: 0;
    margin-bottom: 1%;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffff00;
    transform: translate(-50%, -50%);
    font-family: 'Oxanium', cursive;
    font-size: 5vw;
    border-radius: 15%;
    color: #000000;
    padding: 5px;
    box-shadow: #d1d100 5px 5px 0px 2px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}


.footer {
    background-color: black;
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 1vw;
    text-align: center;
    width: 100%;
    margin: auto;
    position: relative;
    bottom: 0;
}

#quiz {
    text-align: center;
    width: 100%;
    margin: auto;
}

#submit {
    position: absolute;
    top: 60vh;
    left: 60vw;
    background: #ffff00;
    font-family: 'Oxanium', cursive;
    font-size: 3vw;
    border-radius: 15%;
    color: #000000;
    padding: 5px;
    box-shadow: #d1d100 5px 5px 0px 2px;
    text-decoration: none;
}
#next {
    position: absolute;
    top: 60vh;
    left: 60vw;
    background: #ffff00;
    font-family: 'Oxanium', cursive;
    font-size: 3vw;
    border-radius: 15%;
    color: #000000;
    padding: 5px;
    box-shadow: #d1d100 5px 5px 0px 2px;
    text-decoration: none;
}

#previous {
    position: absolute;
    top: 60vh;
    left: 30vw;
    background: #ffff00;
    font-family: 'Oxanium', cursive;
    font-size: 3vw;
    border-radius: 15%;
    color: #000000;
    padding: 5px;
    box-shadow: #d1d100 5px 5px 0px 2px;
    text-decoration: none;
}

.question {
    color: white;
    font-family: 'Oxanium', cursive;
    font-size: 3vw;

}


.answers {
    color: white;
    font-family: 'Oxanium', cursive;
    margin-bottom: 30px;
    font-size: 3vw;

}

#results {
    position: absolute;
    top: 80vh;
    left: 45vw;
    background: rgb(131, 255, 131);
    font-family: 'Oxanium', cursive;
    font-size: 3vw;
    border-radius: 15%;

}

/* To Be Changed*/
.page {
    position: absolute;
    left: 0px;
    top: 30vh;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-page {
    opacity: 1;
    z-index: 2;
}